<h3><%= job[:company] %></h3>
<div class="job-company-group">
    <% job[:positions].each do |position| %>
        <h4><%= position[:title] %></h4>
        <div class="job-position-group">
            From <%= position[:dates][:from] %> to <%= position[:dates][:to] %>
            <ul>
                <% position[:responsibilities].each do |task| %>
                    <li><%= task %></li>
                <% end %>
            </ul>
            <% unless position[:samples].nil? and position[:images].nil? %>
                <h5>Work Samples</h5>
            <% end %>
            <% unless position[:samples].nil? %>
                <ul>
                    <% position[:samples].each do |sample| %>
                        <li>
                            <a href="<%= sample[:link] %>"><%= sample[:name] %></a>
                            <% unless sample[:attrs].nil? %>
                                <small><%= sample[:attrs].join(', ') %></small>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
            <% unless position[:images].nil? %>
                <div class="gallery-container">
                    <% position[:images].each do |image| %>
                        <a href="<%= image[:link] %>"><img src="<%= image[:thumb] %>" alt="<%= image[:alt] %>" class="gallery-image img-thumbnail" data-toggle="popover" data-content="<%= image[:alt] %>" data-title="<%= image[:alt_title] %>"/></a>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
