<h3><%= project[:name] %> <% if project[:headline] %><small><%= project[:headline] %></small><% end %></h3>

<p class="project-labels">
    <% if project[:type] == "library" %>
        <span class="label label-primary" title="A code library meant to be included in other applications">Library</span>
    <% elsif project[:type] == "application" %>
        <span class="label label-primary" title="A self-contained, runnable product">Application</span>
    <% end %>

    <% if project[:labels].include?("active") %>
        <span class="label label-info" title="Project is being actively developed and maintained">Active Development</span>
    <% end %>

    <% if project[:labels].include?("inactive") %>
        <span class="label label-default" title="No recent activity on project">Inactive</span>
    <% end %>

    <% if project[:labels].include?("stable") %>
        <span class="label label-success" title="Project has at least one stable version">Stable</span>
    <% end %>

    <% if project[:labels].include?("unstable") %>
        <span class="label label-danger" title="Project is not stable; user assumes all risk">Unstable</span>
    <% end %>

    <% if project[:source] %>
        <span class="label"><a href="<%= project[:source] %>"><span class="glyphicon glyphicon-link"></span> Source Code</a></span>
    <% end %>

    <% if project[:rubygems] %>
        <span class="label"><a href="https://rubygems.org/gems/<%= project[:rubygems] %>"><span class="glyphicon glyphicon-download"></span> RubyGems</a></span>
    <% end %>

    <% if project[:packagist] %>
        <span class="label"><a href="https://packagist.org/packages/<%= project[:packagist] %>"><span class="glyphicon glyphicon-download"></span> Packagist</a></span>
    <% end %>

    <% if project[:roadmap] %>
        <span class="label"><a href="https://trello.com/b/<%= project[:roadmap] %>"><span class="glyphicon glyphicon-tasks"></span> Roadmap</a></span>
    <% end %>
</p>

<% if project[:description] %>
    <p><%= project[:description] %></p>
<% end %>

<% if project[:longdesc] %>
    <div class="project-longdesc" data-project="<%= project[:name] %>">
        <% project[:longdesc].each do |para| %>
            <p><%= para %></p>
        <% end %>
    </div>
<% end %>
