<h3>{{ job.company }}</h3>
<div class="job-company-group">
    {% for position in job.positions %}
        <h4>{{ position.title }}</h4>
        <div class="job-position-group">
            From {{ position.dates.from }} to {{ position.dates.to }}
            <ul>
                {% for task in position.responsibilities %}
                    <li>{{ task }}</li>
                {% endfor %}
            </ul>
            {% if position.samples is not empty or position.images is not empty %}
                <h5>Work Samples</h5>
            {% endif %}
            {% if position.samples is not empty %}
                <ul>
                    {% for sample in position.samples %}
                        <li>
                            <a href="{{ sample.link }}">{{ sample.name }}</a>
                            {% if sample.attrs %}
                                <small>{{ sample.attrs|join(', ') }}</small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if position.images is not empty %}
                <div class="gallery-container">
                    {% for image in position.images %}
                        <a href="{{ image.link }}"><img src="{{ image.thumb }}" alt="{{ image.alt }}" class="gallery-image img-thumbnail" data-toggle="popover" data-content="{{ image.alt }}" data-title="{{ image.alt_title }}"/></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% if not loop.last %}
    <hr/>
{% endif %}
